---
layout: layouts/base.njk
permalink: /
---
<section>
  <h2>100 Projecten</h2>
  <article>
    <h3>Doel</h3>
    <p>
      100 Dagen - 100 Projecten het is een challenge dat ik ga ondernemen.
      startent vandaag (??? ??? 2021) dat er voor moet zorgen dat ik beter wordt als developer.
    </p>
    <p>Niets houd je tegen om mee te doen aan deze challenge en kan mijn projecten na maken of er zelf bedenken.</p>
    <p>Notitie: ga naar de blog/projects pagina voor de projecten te zien.</p>
  </article>

  <article>
    <h3>Regels</h3>
    <p>Elke dag een project maken</p>
    <p>Het project moet ergens terug te vinden zijn (social media, codepen, github, ...) de hashtag #100Dagen100Projecten moet in het project staan.</p>
    <p>Het project kan: een app, ux component, website, game, library, animatie, ... zijn.</p>
    <p>Er is geen spesiefiek framework of taal voor deze projecten.</p>
    <p>Het project moet klaar zijn tegen 23:59 die dag.</p>
  </article>

  <article> 
    <h3>Extra regels</h3>
    <p>
      Hier zijn wat extra regels die ik voor me zelf heb opgestelt voor extra stress er op te zetten. 
      Deze zijn voor me zelf en moet je niet na leven als je dit ook wilt doen!
    </p>
    <p>
      Als ik een project niet af krijg ga ik 2euro geven aan mijn goede vriend <a href="https://www.facebook.com/egon.noltinck">Egon</a>.
      Nog maals dit is een extra voor waarden voor mij maar dit moet niet na geleeft worden door mensen die mee willen doen.
    </p>
    <p>
      Het geld dat Egon ontvangt gaat naar zijn react cursus dat hij al een hele tijd wilt. Dus het geld gaat naar een goed doel.
    </p>
  </article>

  <article> 
    <h3 class="hidden">Buttons</h3>
    <div>
      <a href="/posts">PROJECTS</a>
      <a href="http://conorvanoystaeyen.be/" target="_blank">My website</a>
    </div>
  </article>
</section>