---
layout: layouts/base.njk
permalink: /projects/
title: projects
---
<section class="projects__container">
  <h2 class="project__title">Projecten</h2>
  {% set projectlist = collections.posts %}
  {% include "projectlist.njk" %}
</section>