<ul>
  {% for post in postslist %}
    <li class="blog__post">
      <span>
        <time datetime="{{ post.data.date | dateIso }}">{{ post.data.date | dateReadable }}</time>
      </span>
      
      <a class="blog__post__title" href="{{ post.url | url }}">{{ post.data.title }}</a>

      <p>{{ post.data.description }}</p>

      <a class="blog__post__more" href="{{ post.url | url }}">Vertel me meer ...</a>
    </li>
  {% endfor %}
</ul>