<ul class="projects">
  {% for post in projectlist %}
    <li class="projects__item">
      <p>{{ post.data.title }}</p>

      <div>
        <a href="{{ post.data.linkgit }}" target="_blank">Github</a>
        <a href="{{ post.data.linkcode }}" target="_blank">Codepen</a>
      </div>
    </li>
  {% endfor %}
</ul>