<html>
  <head>
    <title>100Days</title>
  </head>
  <body>
    <h1>Test</h1>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/posts">Blog</a>
      </li>
      <li>
        <a href="/projects">Projects</a>
      </li>
    </ul>
    {{ content | safe }}
  </body>
</html>