<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="../../css/style.css">
  </head>
  <body>
    <h1 class="hidden">100Day challenge</h1>
    <header>
      <div>
        <nav>
          <ul class="link__list">
            <li>
              <a class="link__list__item {% if title == "posts" %} active{% endif %}" href="/posts">Blog</a>
            </li>
            <li class="link__home">
              <a {% if title == "home" %}class="active"{% endif %} href="/">100 Dagen - 100 Projecten</a>
            </li>
            <li class="link__home__mobile">
              <a {% if title == "home" %}class="active"{% endif %} href="/">100 D/P</a>
            </li>
            <li>
              <a class="link__list__item {% if title == "projects" %} active{% endif %}" href="/projects">Projects</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <p>Website: <a class="footer__link" href="http://conorvanoystaeyen.be/" target="_blank">conorvanoystaeyen.be</a></p>
    </footer>
  </body>
</html>