<html>
  <head>
    <title>100Days</title>
    <link rel="stylesheet" href="../../css/style.css">
  </head>
  <body>
    <h1 class="hidden">100Day challenge</h1>
    <header>
      <div>
        <nav>
          <ul class="link__list">
            <li>
              <a href="/posts">Blog</a>
            </li>
            <li class="link__home">
              <a href="/">100 Dagen - 100 Projecten</a>
            </li>
            <li>
              <a href="/projects">Projects</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <p>Website: <a href="http://conorvanoystaeyen.be/" target="_blank">conorvanoystaeyen.be</a></p>
    </footer>
  </body>
</html>